/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}










.frequency-buttons-container {
  display: flex; 
  gap: 10px; 
  flex-wrap: wrap;  
} 

.frequency-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

/* Hover effect */
.frequency-button:hover {
  background-color: #e0e0e0;
}
.frequency-button:active{
  background-color: red;
} */
/* Selected state */
.frequency-button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}


